$header_color: #ffce25;
$cart_not_empty: #00aae4;
$light_text: #7f7f7f;
$footer_back: #d3d3d3;
$text: #1d1d1b;
$title_category_clicked: #0097cc;
$shadow: rgba(127, 127, 127, 0.35);
$ticket_shadow: rgba(127, 127, 127, 0.25);
$recommendations: #f2f2f2;
$checkout: #0097cc;
$last_btn: #ffc80c;
